<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store" />

    <title>PCF Metrics</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container" style="padding: 16px 16px;">
        <div class="row">
        <div class=".col-md-3 .offset-md-3">

            <div class="panel panel-default">
                <div class="panel-heading"><h2>Information</h2></div>
                <div class="panel-body">
                    <p th:text="'PCF Application Name: ' + ${applicationName}"></p>
                    <p th:text="'PCF Space Name:   ' + ${spaceName}"></p>
                    <p th:text="'PCF Unique Instance Id:   ' + ${instanceId}"></p>
                    <p th:text="'PCF Instance Index:   ' + ${instanceIndex}"></p>
                    <p th:text="'JVM Uptime:   ' + ${jvmUpTime}"></p>
                    <button type="button" class="btn btn-info" onclick="window.location.href='/actuator/info'" >Info Actuator</button>
                    <button type="button" class="btn btn-info" onclick="window.location.href='/actuator/health'" >Health Actuator</button>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h2>Logging</h2></div>
                <div class="panel-body">
                    <p>Log exceptions.</p>
                    <button type="button" class="btn btn-warning" onclick='$.get("logging/exception")' >Cause JVM (Server-Side) Runtime Exception</button>
                    <button type="button" class="btn btn-warning" onclick='throw "JS (Client-Side) Error"' >Cause JS (Client-Side) Error </button>
                    <button type="button" class="btn btn-info" onclick="window.location.href='/actuator/logfile'" >Logfile Actuator</button>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h2>Tracing</h2></div>
                <div class="panel-body">
                    <p>Invoke a traced call. Visualization will be available in the Trace Explorer.</p>
                    <p><i>(Call Service A , which calls Service B, which makes 2 concurrent calls to Service C. )</i></p>
                    <button type="button" class="btn btn-primary" onclick='$.get("trace/service-a")' >Simple Trace Call</button>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h2>Metrics</h2></div>
                <div class="panel-body">
                    <p>Update and View Custom Application Metrics.</p>

                    <p>
                        <button type="button" class="btn btn-primary" onclick='$.get("metrics/summary")' >Add to Sample Distribution Summary</button>
                        <button type="button" class="btn btn-info" onclick="window.location.href='/actuator/metrics/sample.distributionsummary'" >Sample Distribution Summary Metrics Actuator</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-info" onclick="window.location.href='/actuator/metrics/purchase'" >Scheduled Purchase Metrics Actuator </button>
                        <button type="button" class="btn btn-info" onclick="window.location.href='/actuator/metrics/purchase?tag=product_name:house'" >Scheduled Purchase Metrics Actuator - filter by Label / Tag example</button>
                        <button type="button" class="btn btn-info" onclick="window.location.href='/actuator/metrics'" >Metrics Actuator</button>
                    </p>
                </div>
            </div>


        </div>
        </div>
    </div>


</body>

<script>

    window.onerror = function(message, url, lineno, colno, error)  {

        $.post({
            url: 'logging/client-error',
            contentType: 'text/plain',
            data: 'Source:' + url + ':' + lineno + ' Error:' + message + ' UserAgent:' + navigator.userAgent
        });
    }

</script>

</html>